@model BLL.PasswordFM

@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
{
<div class="error">
    @ViewBag.ErrorMessage
</div>

@Html.HiddenFor(model => model.ID)
    
<div class="oldPasswordBox">
    Old Password
    @Html.PasswordFor(model => model.CurrentPassword)
</div>
<div class="newPasswordBox">
    New Password
    @Html.PasswordFor(model => model.NewPassword)
</div>
<div class="verifyNewPasswordBox">
    Verify New Password
    @Html.PasswordFor(model => model.VerifyPassword)
</div>

<input type="submit" value="Change Password" />
}